
* {
  margin: 0;
  padding: 0;
}

div.tetrisGame{
  transform: translate(25% , 15%);
}

div.tetrisGame div.tetrisRightPanel div.tetrisBoard {
  display: inline-block;
  width: 300px;  /* 10 cols * 30px */
  height: 600px;  /* 20 rows * 30px */
}
div.tetrisGame div.tetrisRightPanel {
  position: absolute;
  top: 0;
  left: 300px;
  width: 300px;
  height: 600px;
}


div.tetrisGame div.tetrisLeftPanel {
  display: inline-block;
  top: 0;
  width: 300px;
  height: 600px;
  left: 50%;
}

div.tetrisGame div.tetrisSubPanel {
  position: absolute;
  top: 0;
  left: 620px;
  width: 300px;
  height: 600px;
}
div.tetrisLeftPanel div.tetrisNextblock{
  margin-top: 20px;
  width: 120px;
  height: 120px;
}

div.tetrisNextblock div.tetrisBlock {
  position: absolute;
  margin-top: 20px;
  width: 29px;
  height: 29px;
  border: 1px solid black;
  background-color: black;
}

div.tetrisSubPanel div.tetrisBlock.exist {
  border: 1px solid black;
  background-color: gray;
}

div.tetrisSubPanel div.tetrisBlock {
  position: absolute;
  margin-top: 20px;
  width: 29px;
  height: 29px;
  border: 1px solid black;
  background-color: black;
}

div.tetrisNextblock div.tetrisBlock.exist {
  border: 1px solid black;
  background-color: gray;
}

div.tetrisLeftPanel div.tetrisScore {
  left: 0;
  font-size: 20pt;
  float: left;
}

div.tetrisLeftPanel div.tetrisUsage {
  padding-top: 240px;
}

div.tetrisBoard div.tetrisBlock {
  position: absolute;
  width: 29px;
  height: 29px;
  border: 1px solid black;
  background-color: black;
}

div.tetrisBoard div.tetrisBlock.exist {
  border: 1px solid black;
  background-color: gray;
}
